node_modules/
dist/
*.local

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# ===========================
# JetBrains
# ===========================
.idea/

# ===========================
# Vim
# ===========================
*.swp
*.swo

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
.venv/
venv/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Temporary files
# ===========================
*.tmp
*.temp
*.bak
*~

# ===========================
# Archives
# ===========================
*.zip
*.7z
*.rar

# ===========================
# Environment
# ===========================
.env
.env.*

# ===========================
# macOS
# ===========================
.AppleDouble
.LSOverride
